# Stroke prediction

Chargement des données

In [ ]:
Chargement du jeu de donnée

Aucun ID en doublon

In [26]:
import numpy as np 
import pandas as pd

df=pd.read_csv('strokes.csv')


df.head()

print(df['id'].duplicated().sum())

#0 doublon d'ID

0
0

In [ ]:
#Collonne affectée Stroke, residence_type, avg_glucose_level

In [28]:
yann_affect=df[["id","stroke","Residence_type","avg_glucose_level"]]

yann_affect.head()

yann_affect.value_counts()

#5110 données récoltés

#4861 crise cardiaque décelé
#249 sans crise cardiaque

id     stroke  Residence_type  avg_glucose_level
67     0       Urban           92.97                1
49095  0       Urban           64.51                1
49229  0       Rural           72.71                1
49196  0       Urban           127.28               1
49190  0       Rural           112.55               1
                                                   ..
24289  0       Urban           89.83                1
24272  0       Rural           217.66               1
24262  0       Rural           70.91                1
24257  0       Rural           90.42                1
72940  0       Urban           102.92               1
Length: 5110, dtype: int64

In [31]:
#Stroke analyse


print(df['stroke'].isna().sum())
#aucune valeur vide

yann_affect['stroke'].value_counts()
#249 crise cardiaque décelé
#4861 sans crise cardiaque

0

0    4861
1     249
Name: stroke, dtype: int64

In [32]:

print(df['Residence_type'].isna().sum())
#aucune valeur vide

yann_affect['Residence_type'].value_counts()

#2 type de d'habitation recensé  Urbain ou Rural

#Urban    2596
#Rural    2514

0

Urban    2596
Rural    2514
Name: Residence_type, dtype: int64

In [33]:
print(df['Residence_type'].isna().sum())
#aucune valeur vide


yann_affect['avg_glucose_level'].describe()

#taux moyen de glucose 106.147677

0

count    5110.000000
mean      106.147677
std        45.283560
min        55.120000
25%        77.245000
50%        91.885000
75%       114.090000
max       271.740000
Name: avg_glucose_level, dtype: float64

In [34]:
 # Nombre de cas de crise cardiaque en fonction de l'habitation
colonne1 = yann_affect['Residence_type']
colonne2 = yann_affect['stroke']

pd.crosstab(colonne1, colonne2)

#un petit peu plus de crisen cardiaque en ville

stroke             0    1
Residence_type
Rural           2400  114
Urban           2461  135

In [38]:
#Taux de glucose en fonction de l'habitation

# Quantité maximale
max_avg_glucose_level = lambda avg_glucose_level: avg_glucose_level[avg_glucose_level > 0].max()

# Quantité minimale
min_avg_glucose_level = lambda avg_glucose_level: avg_glucose_level[avg_glucose_level > 0].min()

# Quantité médiane
median_avg_glucose_level = lambda avg_glucose_level : avg_glucose_level[avg_glucose_level > 0].median()




# Définition du dictionnaire de fonctions à appliquer
functions_to_apply = {
    'avg_glucose_level' : [max_avg_glucose_level, min_avg_glucose_level, median_avg_glucose_level]
}


# Operation groupby
avg_glucose_level_groupby = yann_affect.groupby('Residence_type').agg(functions_to_apply)

# Pour un meilleur affichage, on peut renommer les colonnes produite par le groupby
avg_glucose_level_groupby.columns.set_levels(['max_avg_glucose_level', 'min_avg_glucose_level', 'median_avg_glucose_level'], level=1, inplace = True)

# Affichage des premières lignes du Dataframe produit par l'opération groupby
avg_glucose_level_groupby.head()

C:\Users\pytu10841\AppData\Local\Temp\ipykernel_20324\2551123393.py:23: FutureWarning: inplace is deprecated and will be removed in a future version.
  avg_glucose_level_groupby.columns.set_levels(['max_avg_glucose_level', 'min_avg_glucose_level', 'median_avg_glucose_level'], level=1, inplace = True)

                   avg_glucose_level                        \
               max_avg_glucose_level min_avg_glucose_level
Residence_type
Rural                         271.74                 55.12
Urban                         267.76                 55.22


               median_avg_glucose_level
Residence_type
Rural                            92.955
Urban                            90.770

In [39]:
#Taux de glucose en fonction de l'habitation

# Quantité maximale
max_avg_glucose_level = lambda avg_glucose_level: avg_glucose_level[avg_glucose_level > 0].max()

# Quantité minimale
min_avg_glucose_level = lambda avg_glucose_level: avg_glucose_level[avg_glucose_level > 0].min()

# Quantité médiane
median_avg_glucose_level = lambda avg_glucose_level : avg_glucose_level[avg_glucose_level > 0].median()




# Définition du dictionnaire de fonctions à appliquer
functions_to_apply = {
    'avg_glucose_level' : [max_avg_glucose_level, min_avg_glucose_level, median_avg_glucose_level]
}


# Operation groupby
avg_glucose_level_groupby = yann_affect.groupby('stroke').agg(functions_to_apply)

# Pour un meilleur affichage, on peut renommer les colonnes produite par le groupby
avg_glucose_level_groupby.columns.set_levels(['max_avg_glucose_level', 'min_avg_glucose_level', 'median_avg_glucose_level'], level=1, inplace = True)

# Affichage des premières lignes du Dataframe produit par l'opération groupby
avg_glucose_level_groupby.head()

C:\Users\pytu10841\AppData\Local\Temp\ipykernel_20324\1907194084.py:25: FutureWarning: inplace is deprecated and will be removed in a future version.
  avg_glucose_level_groupby.columns.set_levels(['max_avg_glucose_level', 'min_avg_glucose_level', 'median_avg_glucose_level'], level=1, inplace = True)

           avg_glucose_level
       max_avg_glucose_level min_avg_glucose_level median_avg_glucose_level
stroke
0                     267.76                 55.12                    91.47
1                     271.74                 56.11                   105.22